* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.4;
  color: #000;
  background: #fff;
  height: 100vh;
  font-weight: 400;
}

h1 {
  text-align: center;
  color: #00dbff;
}

.wrapper {
  width: 100%;
}

.todos {
  max-width: 580px;
  margin: 0 auto;
}

.container {
  margin: 0 1em 2em 1em;
}

.form-container {
  display: flex;
  border-radius: calc(0.1 * 100px);
  box-shadow: 0 4px 14px 0 rgba(70, 70, 70, 0.38);
  justify-content: space-around;
  background: #fff;
  font-size: 1rem;
}

.input-text,
input[type='text'] {
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: calc(0.5 * 100px);
  font-size: 1rem;
}

.input-text::placeholder {
  color: #000;
}

.input-submit {
  background: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.submit-warning {
  font-size: 13px;
  color: red;
  margin-top: 5px;
  display: block;
}

.fa-edit {
  color: #0096c4;
  font-size: large;
}

.fa-trash {
  color: #f36109;
  font-size: large;
}

/* Put all mobile code above this. */
@media only screen and (min-width: 768px) {
  .container {
    margin: 0.5em;
  }
}
